# Pandas
![pandas](./Pandas_logo.png)

<br>

**ë°ì´í„° ë¶„ì„**ì„ í•˜ê³  ì‹¶ìœ¼ì‹ ê°€ìš”? ê·¸ëŸ¼ `pandas`ë¥¼ í•œë²ˆ ê±°ì³ê°€ì‹œëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤. ë¬¼ë¡  êµ‰ì¥íˆ ë©‹ìˆì–´ ë³´ì´ëŠ” `Machine Learning`, `AI` ë“±ì„ í•˜ê³  ì‹¶ìœ¼ì‹œê² ì§€ë§Œ, ë‘ ë‹¤ë¦¬ ì—†ì´ ë›¸ ìˆ˜ëŠ” ì—†ì–ì•„ìš”? ì¼ë‹¨ ë°ì´í„°ë¥¼ ë‹¤ë£° ìˆ˜ ìˆëŠ” ê¸°ë³¸ê¸°ë¥¼ ìµíˆê³ , ë©‹ìˆì–´ ë³´ì´ëŠ” ê²ƒë“¤ì„ í•´ë´…ì‹œë‹¤.  

<br>
  
PandasëŠ” Python Data Analysis Libraryì˜ ì•½ìì…ë‹ˆë‹¤. ì´ë¦„ë§Œ ë³´ê³  "ì˜¤ì‰ íŒë‹¤ê°€ ê°‘ìê¸° ì™œ ë‚˜ì˜¤ì§•?" í•˜ì‹¤ ìˆ˜ ìˆì§€ë§Œ ì˜ì™¸ë¡œ íŒë‹¤ì™€ ë¬´ê´€í•©ë‹ˆë‹¤ ã…ã…   
  
ê·¸ëŸ¼ í•œë²ˆ pandasì™€ ê´€ë ¨ëœ ë¬¸ì œë¥¼ í’€ì–´ë³´ëŸ¬ ê°€ì‹œì£ !

<br>

---

**ì•Œë¦¼**
- ë³¸ ì»¨í…ì¸ ëŠ” ê°•ì˜ í˜•ì‹ì´ ì•„ë‹Œ, ìŠ¤ìŠ¤ë¡œ ê³µë¶€í•˜ì‹œëŠ” ë¶„ë“¤ì„ ìœ„í•œ ì¼ì¢…ì˜ ë¬¸ì œì§‘ ì…ë‹ˆë‹¤.
- ë°ì´í„°ë¼ëŠ” í° ë°”ë‹¤ì—ì„œ ì—¬ëŸ¬ë¶„ì´ ì“¸ ë° ì—†ëŠ” ì‹œê°„ ë‚­ë¹„ ì—†ì´ ë°”ë¡œë°”ë¡œ í•µì‹¬ì„ ë°°ìš°ì‹¤ ìˆ˜ ìˆë„ë¡ ì»¤ë¦¬í˜ëŸ¼ì„ ì§œë´¤ìŠµë‹ˆë‹¤.
- ì´ ì»¨í…ì¸ ì˜ ë¬¸ì œë“¤ë§Œ í•´ê²°í•œë‹¤ê³  ì‹¤ë ¥ì´ ì˜¤ë¥´ì§€ ì•ŠìŠµë‹ˆë‹¤. ë³¸ ì»¨í…ì¸ ì˜ ëª©ì ì€ ë¬¸ì œë¥¼ í•´ê²°í•˜ëŠ” ê³¼ì •ì—ì„œ ë°œìƒí•˜ëŠ” ê³ ë¯¼ê³¼ ì§ˆë¬¸ì„ í†µí•œ ì‹¤ë ¥ í–¥ìƒì…ë‹ˆë‹¤. 
- ë¬¸ì œì—ì„œ ì ˆëŒ€ ë– ë¨¹ì—¬ì£¼ì§€ ì•ŠìŠµë‹ˆë‹¤. ë¬¼ê³ ê¸°ë¥¼ ì¡ì•„ì£¼ëŠ” ê²ƒì´ ì•„ë‹Œ, ë¬¼ê³ ê¸°ë¥¼ ì¡ëŠ” ë°©ë²•ì„ ì—¬ëŸ¬ë¶„ì´ ì´ ì»¨í…ì¸ ë¥¼ í†µí•´ ì•Œì•„ê°€ì…¨ìœ¼ë©´ í•©ë‹ˆë‹¤.


<br>

<br>

# 1. Data Frame ë‹¤ë£¨ê¸°
- Tabular Dataë¥¼ ë‹¤ë£¨ëŠ” ê°€ì¥ ê¸°ë³¸ì ì¸ íˆ´ì´ ë°”ë¡œ `pandas`ì…ë‹ˆë‹¤. Tabular DataëŠ” í”íˆ ì—¬ëŸ¬ë¶„ì´ ì—‘ì…€ì—ì„œ ë§ì´ ë´ì˜¤ì…¨ë˜ ë°ì´í„°ë¥¼ ë§í•˜ëŠ”ë°ìš”, ì‰½ê²Œ ë§í•´ì„œ ê·¸ëƒ¥ í‘œë¼ê³  ìƒê°í•˜ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.  
- ì´ë²ˆ Chapterì—ì„  `pandas`ì˜ ê°€ì¥ ê¸°ë³¸ì ì¸ í˜•íƒœì¸ `Data Frame`ì„ ë‹¤ë£¨ëŠ” ì‰½ì§€ë§Œ í•„ìˆ˜ì ì¸ methodì— ëŒ€í•´ ì•Œì•„ë³´ê² ìŠµë‹ˆë‹¤.

â— ì ê¹ â—  
ë“¤ì–´ê°€ê¸° ì „ì—, Data Frameì— ëŒ€í•œ ê°„ë‹¨í•œ ì„¤ëª…ì´ ìˆëŠ” [pandas document](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)ë¥¼ í•œë²ˆ ê°€ë³ê²Œ ì­‰ ì½ê³  ì˜¤ì‹œëŠ” ê²ƒì„ ì¶”ì²œë“œë ¤ìš” ã…ã…

### 1-1 Data Frame ë§Œë“¤ê¸°

**ë¬¸ì œ**  
ì—´(Column)ì˜ ì´ë¦„ì´ A, B, C, Dì´ê³ , ê° ì—´ë§ˆë‹¤ Randomí•œ ìˆ«ìê°€ 10ê°œì”© ë‹´ê²¨ì ¸ ìˆëŠ” Data Frameì„ ìƒì„±í•´ë³´ì„¸ìš”.

ê²€ìƒ‰ íŒíŠ¸  : pandas Data Frame ìƒì„±, pandas data frame ë§Œë“¤ê¸°

_ì˜ˆì‹œ_  
![](./1-1answer.png)

In [37]:
import pandas as pd
import random as rd
value_0=[]
value_1=[]
value_2=[]
value_3=[]
value_4=[]
value_5=[]
value_6=[]
value_7=[]
value_8=[]
value_9=[]
for i in range(4):
    value_0.append(rd.random())
for i in range(4):
    value_1.append(rd.random())
for i in range(4):
    value_2.append(rd.random())
for i in range(4):
    value_3.append(rd.random())
for i in range(4):
    value_4.append(rd.random())
for i in range(4):
    value_5.append(rd.random())
for i in range(4):
    value_6.append(rd.random())
for i in range(4):
    value_7.append(rd.random())
for i in range(4):
    value_8.append(rd.random())
for i in range(4):
    value_9.append(rd.random())
Chart=pd.DataFrame([value_0,value_1,value_2,value_3,value_4,value_5,value_6,value_7,value_8,value_9],
                   index=["0","1","2","3","4","5","6","7","8","9"],
                   columns=["A","B","C","D"]
            )
print(Chart)

          A         B         C         D
0  0.454896  0.755560  0.763712  0.798280
1  0.018415  0.753371  0.828877  0.908474
2  0.528503  0.505453  0.164127  0.812591
3  0.552339  0.319298  0.729523  0.516481
4  0.682244  0.995266  0.413837  0.305777
5  0.642194  0.105346  0.441224  0.945397
6  0.139820  0.787263  0.168431  0.991447
7  0.281577  0.148481  0.410010  0.831068
8  0.496159  0.563007  0.338439  0.897169
9  0.287545  0.403909  0.243647  0.249189

### 1-2 Data Frame Indexing 1

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì—ì„œ ìœ„ì—ì„œë¶€í„° 5ê°œì˜ í–‰ì„ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”  
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas print top5 rows  
  
_ì˜ˆì‹œ_  
![](./1-2answer.png)

In [36]:
print(Chart.head(5))

          A         B         C         D
0  0.087950  0.445579  0.810827  0.178496
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
3  0.564045  0.879133  0.164892  0.025774
4  0.987930  0.665488  0.939873  0.783964

### 1-3 Data Frame Indexing 2

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì—ì„œ 1ë²ˆì§¸, 2ë²ˆì§¸ ì—´ë§Œ ì¶”ì¶œí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”  
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas iloc, pandas loc  
  
_ì˜ˆì‹œ_  
![](./1-3answer.png)

In [39]:
print(Chart.loc[:,["A","B"]])

          A         B         C         D
0  0.454896  0.755560  0.763712  0.798280
1  0.018415  0.753371  0.828877  0.908474
2  0.528503  0.505453  0.164127  0.812591
3  0.552339  0.319298  0.729523  0.516481
4  0.682244  0.995266  0.413837  0.305777
5  0.642194  0.105346  0.441224  0.945397
6  0.139820  0.787263  0.168431  0.991447
7  0.281577  0.148481  0.410010  0.831068
8  0.496159  0.563007  0.338439  0.897169
9  0.287545  0.403909  0.243647  0.249189
A    0.454896
B    0.755560
C    0.763712
D    0.798280
Name: 0, dtype: float64
          A         B
0  0.454896  0.755560
1  0.018415  0.753371
2  0.528503  0.505453
3  0.552339  0.319298
4  0.682244  0.995266
5  0.642194  0.105346
6  0.139820  0.787263
7  0.281577  0.148481
8  0.496159  0.563007
9  0.287545  0.403909

### 1-4 Data Frame Indexing 3

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì—ì„œ "A"ì—´ê³¼ "D"ì—´ë§Œ ì¶”ì¶œí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”  
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas iloc, pandas loc  
  
_ì˜ˆì‹œ_  
![](./1-4answer.png)

In [29]:
print(Chart.loc[:,["A","D"]])

          A         D
0  0.403652  0.645557
1  0.749292  0.027546
2  0.915140  0.961686
3  0.815524  0.970404
4  0.251758  0.100414
5  0.596489  0.542116
6  0.913981  0.780472
7  0.236102  0.493572
8  0.908260  0.204762
9  0.964887  0.464678

### 1-5 Data Frame columns, values, index

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì˜ Columnë“¤ê³¼ ê°’ë“¤, index, shapeì„ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš” 
  
ê²€ìƒ‰ íŒíŠ¸ : pandas columns, pandas values, pandas index
  
_ì˜ˆì‹œ_  
![](./1-5answer.png)

In [38]:
print(Chart.columns)
print(Chart.values)
print(Chart.shape)

Index(['A', 'B', 'C', 'D'], dtype='object')
[[0.08795032 0.44557859 0.81082734 0.1784963 ]
 [0.5465004  0.85715758 0.9386564  0.89741397]
 [0.42284794 0.50491458 0.4390097  0.21689413]
 [0.56404495 0.87913303 0.16489238 0.02577358]
 [0.98793044 0.66548847 0.93987275 0.78396433]
 [0.60426559 0.86917734 0.35805278 0.60822641]
 [0.91819109 0.46881842 0.96938743 0.17408161]
 [0.22305211 0.75148959 0.10770441 0.83405778]
 [0.08589097 0.90815039 0.50316651 0.06643912]
 [0.92721261 0.29141488 0.36815116 0.26193748]]
(10, 4)

### 1-6 Data Frame Informations

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì˜ columnë³„ ì •ë³´ì™€ í†µê³„ì  ì •ë³´ë¥¼ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš” 
  
ê²€ìƒ‰ íŒíŠ¸ : pandas get data frame information, pandas get statistic information
  
_ì˜ˆì‹œ_  
![](./1-6answer.png)

In [40]:
print(Chart.info())
print(Chart.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
dtypes: float64(4)
memory usage: 700.0+ bytes
None
               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.408369   0.533695   0.450183   0.725587
std     0.218472   0.292720   0.244747   0.269317
min     0.018415   0.105346   0.164127   0.249189
25%     0.283069   0.340451   0.267345   0.586930
50%     0.475527   0.534230   0.411923   0.821829
75%     0.546380   0.755013   0.657448   0.905648
max     0.682244   0.995266   0.828877   0.991447

### 1-7 Data Frame Sorting

**ë¬¸ì œ**  
1-1ì—ì„œ ìƒì„±í•œ DataFrameì„ "A" Columnì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ ë’¤, Indexë¥¼ ì¬ì •ë ¬í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.  
(ë‹¨, Index ì¬ì •ë ¬ í›„ , ì›ë˜ì˜ indexëŠ” ì‚­ì œí•´ì£¼ì„¸ìš”.)
  
ê²€ìƒ‰ íŒíŠ¸ : pandas sort values, pandas sort values descending, pandas reset index
  
_ì˜ˆì‹œ_  
![](./1-7answer.png)

In [41]:
print(Chart.sort_values(by='A',ascending=False))
print(Chart.sort_index())

          A         B         C         D
4  0.987930  0.665488  0.939873  0.783964
9  0.927213  0.291415  0.368151  0.261937
6  0.918191  0.468818  0.969387  0.174082
5  0.604266  0.869177  0.358053  0.608226
3  0.564045  0.879133  0.164892  0.025774
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
7  0.223052  0.751490  0.107704  0.834058
0  0.087950  0.445579  0.810827  0.178496
8  0.085891  0.908150  0.503167  0.066439
          A         B         C         D
0  0.087950  0.445579  0.810827  0.178496
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
3  0.564045  0.879133  0.164892  0.025774
4  0.987930  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052  0.751490  0.107704  0.834058
8  0.085891  0.908150  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937

### 1-8 Data Frame Advanced Indexing 1

**ë¬¸ì œ**  
ì•„ë˜ì™€ ê°™ì€ Data Frameì„ ë§Œë“¤ê³ , ì£¼ ì–¸ì–´ê°€ íŒŒì´ì¬ì¸ ì‚¬ëŒë“¤ë§Œ ì¡°íšŒí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas query, pandas get specific values
  
<br>

Data Frame ì˜ˆì‹œ  
![](./1-8df.png)

_ì˜ˆì‹œ_  
![](./1-8answer.png)

In [63]:

index_0=["í”¼ì¹´ì¸„","ê²½ì œ","íŒŒì´ì¬","AIì—”ì§€ë‹ˆì–´"]
index_1=["ë¼ì´ì¸„","ê²½ì˜","C","í”„ë¡ íŠ¸"]
index_2=["íŒŒì´ë¦¬","ì»´ê³µ","C+","ë°±ì—”ë“œ"]
index_3=["ê¼¬ë¶€ê¸°","ì»´ê³µ","íŒŒì´ì¬","AIì—”ì§€ë‹ˆì–´"]
index_4=["ë²„í„°í’€","ê²½ì œ","ìë°”","ë°±ì—”ë“œ"]
index_5=["ì•¼ë„ë€","ì „ì „","ì—„","í”„ë¡ íŠ¸"]
index_6=["í”¼ì£¤íˆ¬","ì»´ê³µ","íŒŒì´ì¬","AIì—”ì§€ë‹ˆì–´"]
index_7=["ë˜ê°€ìŠ¤","ê¸°ê³„","ìë°”","PM"]
Chart2=pd.DataFrame( [index_0,index_1,index_2,index_3,index_4,index_5,index_6,index_7],
                     index=["0","1","2","3","4","5","6","7"],
                     columns=["ì´ë¦„","í•™ê³¼","ì–¸ì–´","ì§ë¬´"]   
                        )

print(Chart2.query("ì–¸ì–´ in 'íŒŒì´ì¬'"))

    ì´ë¦„  í•™ê³¼   ì–¸ì–´      ì§ë¬´
0  í”¼ì¹´ì¸„  ê²½ì œ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
3  ê¼¬ë¶€ê¸°  ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
6  í”¼ì£¤íˆ¬  ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´

### 1-9 Data Frame Advanced Indexing 2

**ë¬¸ì œ**  
1-8ì—ì„œ ë§Œë“  Data Frameì—ì„œ í•™ê³¼ê°€ ì»´ê³µì´ê³ , ì£¼ ì–¸ì–´ê°€ íŒŒì´ì¬, ì§ë¬´ëŠ” AI ì—”ì§€ë‹ˆì–´ì¸ ì‚¬ëŒë“¤ë§Œ ì¡°íšŒí•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas query, pandas get specific values

_ì˜ˆì‹œ_  
![](./1-9answer.png)

In [62]:
result=Chart2.query("í•™ê³¼ in 'ì»´ê³µ' and ì–¸ì–´ in 'íŒŒì´ì¬' and ì§ë¬´ in 'AIì—”ì§€ë‹ˆì–´'")
print(result)

    ì´ë¦„  í•™ê³¼   ì–¸ì–´      ì§ë¬´
3  ê¼¬ë¶€ê¸°  ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
6  í”¼ì£¤íˆ¬  ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´

### 1-10 Data Frame Concat

**ë¬¸ì œ**  
1-1ì—ì„œ ë§Œë“  Data Frameê³¼ 1-8ì—ì„œ ë§Œë“  Data Frameì„ ìœ„ì•„ë˜ë¡œ í•©ì¹˜ëŠ” ì½”ë“œì™€, ì¢Œìš°ë¡œ í•©ì¹˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”. ê° ì‘ì—…ì„ ìˆ˜í–‰í•œ í›„ì—” Indexë¥¼ ë‹¤ì‹œ ì„¸íŒ…í•´ì£¼ì„¸ìš”!
  
ê²€ìƒ‰ íŒíŠ¸ : pandas concat Data Frame

_ì˜ˆì‹œ_  
ìœ„ì•„ë˜ë¡œ í•©ì¹˜ëŠ” ê²½ìš°  
![](./1-10answer1.png)  
ì¢Œìš°ë¡œ í•©ì¹˜ëŠ” ê²½ìš°  
![](./1-10answer2.png)

In [69]:
Chart_merged1=pd.concat([Chart,Chart2],axis=0)
print(Chart_merged1)
Chart_merged2=pd.concat([Chart,Chart2],axis=1)
print(Chart_merged2)

          A         B         C         D
0   0.08795  0.445579  0.810827  0.178496
1    0.5465  0.857158  0.938656  0.897414
2  0.422848  0.504915   0.43901  0.216894
3  0.564045  0.879133  0.164892  0.025774
4   0.98793  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052   0.75149  0.107704  0.834058
8  0.085891   0.90815  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937
0       í”¼ì¹´ì¸„        ê²½ì œ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
1       ë¼ì´ì¸„        ê²½ì˜         C       í”„ë¡ íŠ¸
2       íŒŒì´ë¦¬        ì»´ê³µ        C+       ë°±ì—”ë“œ
3       ê¼¬ë¶€ê¸°        ì»´ê³µ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
4       ë²„í„°í’€        ê²½ì œ        ìë°”       ë°±ì—”ë“œ
5       ì•¼ë„ë€        ì „ì „         ì—„       í”„ë¡ íŠ¸
6       í”¼ì£¤íˆ¬        ì»´ê³µ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
7       ë˜ê°€ìŠ¤        ê¸°ê³„        ìë°”        PM
          A         B         C         D    A    B    C       D
0  0.087950  0.445579  0.810827  0.178496  í”¼ì¹´ì¸„   ê²½ì œ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
1  0.546500  0.857158  0.938656  0.897414  ë¼ì´ì¸„   ê²½ì˜    C     í”„ë¡ íŠ¸
2  0.422848  0.504915  0.439010  0.216894  íŒŒì´ë¦¬   ì»´ê³µ   C+     ë°±ì—”ë“œ
3  0.564045  0.879133  0.164892  0.025774  ê¼¬ë¶€ê¸°   ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
4  0.987930  0.665488  0.939873  0.783964  ë²„í„°í’€   ê²½ì œ   ìë°”     ë°±ì—”ë“œ
5  0.604266  0.869177  0.358053  0.608226  ì•¼ë„ë€   ì „ì „    ì—„     í”„ë¡ íŠ¸
6  0.918191  0.468818  0.969387  0.174082  í”¼ì£¤íˆ¬   ì»´ê³µ  íŒŒì´ì¬  AIì—”ì§€ë‹ˆì–´
7  0.223052  0.751490  0.107704  0.834058  ë˜ê°€ìŠ¤   ê¸°ê³„   ìë°”      PM
8  0.085891  0.908150  0.503167  0.066439  NaN  NaN  NaN     NaN
9  0.927213  0.291415  0.368151  0.261937  NaN  NaN  NaN     NaN

### 1-11 Data Frame Concat 2

**ë¬¸ì œ**  
1-10ì—ì„œ ë§Œë“  Data Frameê°€ ë­”ê°€ ì´ìƒí•©ë‹ˆë‹¤. NaNê°’ë“¤ì´ ë§‰ ì„ì—¬ìˆê³  ìƒë‹¹íˆ ì§€ì €ë¶„í•©ë‹ˆë‹¤. ì™œ ì´ëŸ¬ëŠ” ê±¸ê¹Œìš”? ì´ìœ ë¥¼ í•œë²ˆ ìƒê°í•´ì„œ ì ì–´ë³´ì„¸ìš”!  
  
ì´ìœ ë¥¼ ì ì–´ë³¸ ë’¤ì—, 1-8ì—ì„œ ë§Œë“  Data Frameì˜ ì´ë¦„ì„ "A", "B", "C", "D"ë¡œ ë°”ê¾¼ ë‹¤ìŒ ë‹¤ì‹œ ì‹œë„í•´ë³´ì„¸ìš”.
  
ê²€ìƒ‰ íŒíŠ¸ : pandas concat Data Frame, pandas column name change

In [65]:
# 1-1ì—ì„œ ë§Œë“  data frameì— ì´ë¦„,í•™ê³¼,ì–¸ì–´,ì§ë¬´ ì •ë³´ê°€ ì—†ê¸° ë•Œë¬¸ ì•„ë‹ê¹Œìš”. 1-8ì—ì„œë„ ë§ˆì°¬ê°€ì§€ë¡œìš”.

Chart2.columns=["A","B","C","D"]
Chart_merged3=pd.concat([Chart,Chart2],axis=0)
print(Chart_merged3)

          A         B         C         D
0   0.08795  0.445579  0.810827  0.178496
1    0.5465  0.857158  0.938656  0.897414
2  0.422848  0.504915   0.43901  0.216894
3  0.564045  0.879133  0.164892  0.025774
4   0.98793  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052   0.75149  0.107704  0.834058
8  0.085891   0.90815  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937
0       í”¼ì¹´ì¸„        ê²½ì œ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
1       ë¼ì´ì¸„        ê²½ì˜         C       í”„ë¡ íŠ¸
2       íŒŒì´ë¦¬        ì»´ê³µ        C+       ë°±ì—”ë“œ
3       ê¼¬ë¶€ê¸°        ì»´ê³µ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
4       ë²„í„°í’€        ê²½ì œ        ìë°”       ë°±ì—”ë“œ
5       ì•¼ë„ë€        ì „ì „         ì—„       í”„ë¡ íŠ¸
6       í”¼ì£¤íˆ¬        ì»´ê³µ       íŒŒì´ì¬    AIì—”ì§€ë‹ˆì–´
7       ë˜ê°€ìŠ¤        ê¸°ê³„        ìë°”        PM

# 2. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
  
- ì—¬ê¸°ê¹Œì§€ í•´ë‚´ì‹  ë¶„ë“¤! ì•„ì£¼ ëŒ€ë‹¨í•˜ì‹­ë‹ˆë‹¤. ì—¬ê¸°ê¹Œì§€ í‘¸ì‹  ê²ƒë§Œ í•´ë„, ë°ì´í„°ë¥¼ ë‹¤ë¤„ë³¼ ì¤€ë¹„ê°€ ëë‹¤ê³  í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤ ã…ã… ë­ë“  ê¸°ë³¸ê¸°ê°€ ì§€ë£¨í•˜ê³  ê·€ì°®ë‹¤ê³ ëŠ” í•˜ì§€ë§Œ ì œì¼ ì¤‘ìš”í•˜ë‹ˆê¹Œìš”..! 
- ì´ì œëŠ” íŠœí† ë¦¬ì–¼ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™€ì„œ, í†µê³„ëŸ‰ì„ í™•ì¸í•´ë³´ê³ , ìš°ë¦¬ë“¤ì´ ë§Œë“  í•¨ìˆ˜ë„ ì ìš©í•´ë³¼ ê²ë‹ˆë‹¤. ì–´ë–»ê²Œ í•˜ëŠ”ì§€ ë³¼ê¹Œìš”?

â—ì ê¹â—  
ë°ì´í„°ë¥¼ ë‹¤ìš´ ë°›ì•„ì•¼ê² ì£ ? 
[ì´ê³³](https://www.kaggle.com/code/parulpandey/penguin-dataset-the-new-iris/data)ì—ì„œ ë°ì´í„°ë¥¼ ë‹¤ìš´ ë°›ì€ë’¤, ì••ì¶•ì„ í•´ì œí•˜ê³ , `penguins_size.csv`íŒŒì¼ì„ **ì½”ë“œ íŒŒì¼ì´ ì¡´ì¬í•˜ëŠ” í´ë”ì— ì €ì¥í•´ì£¼ì„¸ìš”**

### 2-1 Read CSV

**ë¬¸ì œ**  
ë°©ê¸ˆ ë‹¤ìš´ë°›ì€ ë°ì´í„°ë¥¼ Data Frameìœ¼ë¡œ ì½ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.
  
ê²€ìƒ‰ íŒíŠ¸ : pandas read data, pandas read csv file

_ì˜ˆì‹œ_  
![](./2-1answer.png)

In [14]:

penguins=pd.read_csv("penguins_size.csv")
print(penguins)

    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
339  Gentoo     Biscoe               NaN              NaN                NaN
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

### 2-2 Data Frame Indexing ë³µìŠµ!

**ë¬¸ì œ**  
ì½ì–´ì˜¨ Data Frameì—ì„œ, `species`ê°€ `Gentoo`ì¸ ë°ì´í„°ë§Œ ì¡°íšŒí•˜ê³ , indexë¥¼ ìƒˆë¡œ ì¬ë°°ì¹˜ í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”. 
  
ê²€ìƒ‰ íŒíŠ¸ : pandas indexing, pandas query

_ì˜ˆì‹œ_  
![](./2-2answer.png)

In [13]:
Gentoo=penguins.query("species in 'Gentoo'")
print(Gentoo.reset_index())

     index species  island  culmen_length_mm  culmen_depth_mm  \
0      220  Gentoo  Biscoe              46.1             13.2
1      221  Gentoo  Biscoe              50.0             16.3
2      222  Gentoo  Biscoe              48.7             14.1
3      223  Gentoo  Biscoe              50.0             15.2
4      224  Gentoo  Biscoe              47.6             14.5
..     ...     ...     ...               ...              ...
119    339  Gentoo  Biscoe               NaN              NaN
120    340  Gentoo  Biscoe              46.8             14.3
121    341  Gentoo  Biscoe              50.4             15.7
122    342  Gentoo  Biscoe              45.2             14.8
123    343  Gentoo  Biscoe              49.9             16.1

     flipper_length_mm  body_mass_g     sex
0                211.0       4500.0  FEMALE
1                230.0       5700.0    MALE
2                210.0       4450.0  FEMALE
3                218.0       5700.0    MALE
4                215.0       5400.0    MALE
..                 ...          ...     ...
119                NaN          NaN     NaN
120              215.0       4850.0  FEMALE
121              222.0       5750.0    MALE
122              212.0       5200.0  FEMALE
123              213.0       5400.0    MALE

[124 rows x 8 columns]

### 2-3 Groupby

**ë¬¸ì œ**  
2-1ì—ì„œ ì½ì–´ì˜¨ Data Frameì—ì„œ, `species`ë³„ í‰ê· ê°’ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ë³´ì„¸ìš”.  
`species`ë³„ í‰ê· ê°’ì˜ ì¡°íšŒê°€ ëë‚¬ë‹¤ë©´, `island`ë³„ í‰ê· , ìµœëŒ€, ìµœì†Œ, ì¤‘ì•™ê°’ ë°ì´í„°ë„ ì¡°íšŒí•´ë³´ì„¸ìš”!  
  
ê²€ìƒ‰ íŒíŠ¸ : pandas groupby, pandas aggregate function

_ì˜ˆì‹œ_  
![](./2-3answer.png)  
![](./2-3answer2.png)

In [22]:
group_species=penguins.groupby("species")
print(group_species.mean())

group_island=penguins.groupby("island")
print(group_island.mean())
print(group_island.max())
print(group_island.min())
print(group_island.median())

           culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
island
Biscoe            45.257485        15.874850         209.706587  4716.017964
Dream             44.167742        18.344355         193.072581  3712.903226
Torgersen         38.950980        18.429412         191.196078  3706.372549              species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
island
Biscoe        Gentoo              59.6             21.1              231.0
Dream      Chinstrap              58.0             21.2              212.0
Torgersen     Adelie              46.0             21.5              210.0

           body_mass_g
island
Biscoe          6300.0
Dream           4800.0
Torgersen       4700.0

C:\Users\ì†¡ì¤€ìš°\AppData\Local\Temp\ipykernel_7324\537539802.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  print(group_island.mean(),group_island.max())

### 2-4 apply lambda

**ë¬¸ì œ**  
ë“¤ì–´ì˜¨ inputì— ëŒ€í•´ì„œ ì œê³±ëœ ê°’ì„ return í•´ì£¼ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”.  
ê·¸ëŸ° ë‹¤ìŒ 2-1ì—ì„œ ì½ì–´ì˜¨ Data Frameì—ì„œ, `body_mass_g` Columnì˜ ê°’ì„ ì œê³±í•œ ìƒˆë¡œìš´ Columnì„ ë§Œë“¤ì–´ë³´ì„¸ìš”

ê²€ìƒ‰ íŒíŠ¸ : pandas new column, pandas apply lambda

_ì˜ˆì‹œ_  
![](./2-4answer.png)

In [26]:
def mul_two(x):
    x=x*2
    return x

penguins["body_mass_g"].apply(mul_two)
print(penguins)
#print(penguins.loc[:,"body_mass_g"])

    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
339  Gentoo     Biscoe               NaN              NaN                NaN
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

### 2-5 drop nan values

**ë¬¸ì œ**  
2-1ì—ì„œ ì½ì–´ì˜¨ Data Frameì—ì„œ ì¹¼ëŸ¼ ë³„ë¡œ ê°’ì´ ì—†ëŠ” ë°ì´í„°ì˜ ìˆ˜ë¥¼ êµ¬í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.  
ê·¸ë¦¬ê³  ê·¸ëŸ° ê³µë°±ê°’ë“¤ì„ ì œê±°í•œ Data Frameì„ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.

ê²€ìƒ‰ íŒíŠ¸ : pandas get number of nan, pandas remove null 

_ì˜ˆì‹œ_  
columnë³„ ê³µë°±ê°’ì˜ ìˆ˜  
![](./2-5answer1.png)   
ì œê±° í›„ Data Frame  
![](./2-5answer2.png)

In [31]:
print(penguins.isnull().sum())
print(penguins.dropna())

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64
    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
4    Adelie  Torgersen              36.7             19.3              193.0
5    Adelie  Torgersen              39.3             20.6              190.0
..      ...        ...               ...              ...                ...
338  Gentoo     Biscoe              47.2             13.7              214.0
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
4         3450.0  FEMALE
5         3650.0    MALE
..           ...     ...
338       4925.0  FEMALE
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[334 rows x 7 columns]

### 2-6 remove column

**ë¬¸ì œ**  
2-1ì—ì„œ ì½ì–´ì˜¨ Data Frameì—ì„œ `island` Columnì„ ì œê±°í•˜ëŠ” ì½”ë“œë¥¼ ì‘ì„±í•´ì£¼ì„¸ìš”.  
  
ê²€ìƒ‰ íŒíŠ¸: pandas remove columns

_ì˜ˆì‹œ_  
![](./2-6answer.png)

In [32]:
penguins.drop("island",axis=1,inplace=True)
print(penguins)

    species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie              39.1             18.7              181.0
1    Adelie              39.5             17.4              186.0
2    Adelie              40.3             18.0              195.0
3    Adelie               NaN              NaN                NaN
4    Adelie              36.7             19.3              193.0
..      ...               ...              ...                ...
339  Gentoo               NaN              NaN                NaN
340  Gentoo              46.8             14.3              215.0
341  Gentoo              50.4             15.7              222.0
342  Gentoo              45.2             14.8              212.0
343  Gentoo              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 6 columns]

# 1ì£¼ì°¨ ì¢…ë£Œ
- ì—¬ê¸°ê¹Œì§€ ì™„ë£Œí•˜ì‹  ë¶„ë“¤ ë„ˆë¬´ ê³ ìƒë§ì•˜ìŠµë‹ˆë‹¤ ã…ã… ìš°ë¦¬ê°€ ìœ„ì˜ ë¬¸ì œë“¤ì„ í‘¸ëŠ” ê³¼ì •ì—ì„œ ë°°ìš°ê³  ìµí˜”ë˜ ë©”ì„œë“œë“¤ì€ ì•ìœ¼ë¡œ Tabular Dataë¥¼ ë‹¤ë£° ë•Œ ê±°ì˜ ë¬´ì¡°ê±´ì ìœ¼ë¡œ ì‚¬ìš©ë  ë…€ì„ë“¤ë¡œ ê¼­ ë°˜ë³µí•™ìŠµ í•˜ì…”ì„œ ìµí˜€ë‘ì‹œëŠ” ê±¸ ì¶”ì²œë“œë ¤ìš”.
- ë” ë°°ìš°ê³  ì‹¶ìœ¼ì‹  ë¶„ë“¤ì€ ì•„ë˜ì˜ ë¬¸ì œë„ í•œë²ˆ í’€ì–´ë³´ì‹œëŠ” ê±¸ ì¶”ì²œë“œë ¤ìš” ã…ã…
- ë‹¤ìŒì—” ì‹œê°í™”ì— ëŒ€í•œ ë¬¸ì œë¥¼ í’€ì–´ë³¼ ê²ë‹ˆë‹¤. ìš°ë¦¬ê°€ ì½ì–´ì˜¨ ë°ì´í„°ë¥¼ ê°€ê³µí•œ ê²°ê³¼ë¥¼ ê·¸ë˜í”„ë¡œ ì˜ í‘œí˜„í•˜ëŠ” ê²ƒë§Œìœ¼ë¡œë„ ìœ ì˜ë¯¸í•œ ì •ë³´ë¥¼ ì–»ì–´ë‚¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë°±ë¬¸ì´ ë¶ˆí—ˆì¼ê²¬ì¸ ë§Œí¼, ì£¼ì €ë¦¬ì£¼ì €ë¦¬ ì–˜ê¸°í•˜ëŠ” ê²ƒë³´ë‹¤ëŠ” ì˜ ëœ ì‹œê°í™” ê·¸ë¦¼ í•˜ë‚˜ ë³´ì—¬ì£¼ëŠ” ê²Œ ë” íš¨ê³¼ê°€ ì¢‹ì„ ë•Œê°€ ë§ìŠµë‹ˆë‹¤. 
- ê·¸ëŸ¼ ë‹¤ìŒ ì£¼ì°¨ì— ë´ìš”!
  
<br>

ğŸ‘€**ì¶”ê°€ ë¬¸ì œ**ğŸ‘€  
ì•„ë˜ì˜ ë‘ Data Frameì„ ê°€ì§€ê³ , ì•„ë˜ ê²°ê³¼ì™€ ê°™ì€ Data Frameìœ¼ë¡œ ìƒì„±í•´ë³´ì„¸ìš”! 

<br>

**input**  
![](./add_input.png)  
  
**output**  
![](./add_output.png)

   a1  a2    a3    a4    a5
0  ìŒì‹  ê³¼ì¼    ì‚¬ê³¼  None  None
1  ìŒì‹  ê³¼ì¼  íŒŒì¸ì• í”Œ  None  None
2  ìŒì‹  í•œì‹    ì°Œê°œ  ê¹€ì¹˜ì°Œê°œ  None
3  ë¬¼ê±´  íƒˆê²ƒ   ìë™ì°¨    ì˜ì  None
      ì´ë¦„  ì½”ë“œ
0     ìŒì‹   1
1     ê³¼ì¼   2
2     ì‚¬ê³¼   3
3   íŒŒì¸ì• í”Œ   4
4     í•œì‹   5
5     ì°Œê°œ   6
6   ê¹€ì¹˜ì°Œê°œ   7
7     ë¬¼ê±´   8
8     íƒˆê²ƒ   9
9    ìë™ì°¨  10
10    ì˜ì  11