# Pandas
![pandas](./Pandas_logo.png)

<br>

**데이터 분석**을 하고 싶으신가요? 그럼 `pandas`를 한번 거쳐가시는 것이 좋습니다. 물론 굉장히 멋있어 보이는 `Machine Learning`, `AI` 등을 하고 싶으시겠지만, 두 다리 없이 뛸 수는 없잖아요? 일단 데이터를 다룰 수 있는 기본기를 익히고, 멋있어 보이는 것들을 해봅시다.  

<br>
  
Pandas는 Python Data Analysis Library의 약자입니다. 이름만 보고 "오잉 판다가 갑자기 왜 나오징?" 하실 수 있지만 의외로 판다와 무관합니다 ㅎㅎ   
  
그럼 한번 pandas와 관련된 문제를 풀어보러 가시죠!

<br>

---

**알림**
- 본 컨텐츠는 강의 형식이 아닌, 스스로 공부하시는 분들을 위한 일종의 문제집 입니다.
- 데이터라는 큰 바다에서 여러분이 쓸 데 없는 시간 낭비 없이 바로바로 핵심을 배우실 수 있도록 커리큘럼을 짜봤습니다.
- 이 컨텐츠의 문제들만 해결한다고 실력이 오르지 않습니다. 본 컨텐츠의 목적은 문제를 해결하는 과정에서 발생하는 고민과 질문을 통한 실력 향상입니다. 
- 문제에서 절대 떠먹여주지 않습니다. 물고기를 잡아주는 것이 아닌, 물고기를 잡는 방법을 여러분이 이 컨텐츠를 통해 알아가셨으면 합니다.


<br>

<br>

# 1. Data Frame 다루기
- Tabular Data를 다루는 가장 기본적인 툴이 바로 `pandas`입니다. Tabular Data는 흔히 여러분이 엑셀에서 많이 봐오셨던 데이터를 말하는데요, 쉽게 말해서 그냥 표라고 생각하셔도 무방합니다.  
- 이번 Chapter에선 `pandas`의 가장 기본적인 형태인 `Data Frame`을 다루는 쉽지만 필수적인 method에 대해 알아보겠습니다.

❗ 잠깐 ❗  
들어가기 전에, Data Frame에 대한 간단한 설명이 있는 [pandas document](https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)를 한번 가볍게 쭉 읽고 오시는 것을 추천드려요 ㅎㅎ

### 1-1 Data Frame 만들기

**문제**  
열(Column)의 이름이 A, B, C, D이고, 각 열마다 Random한 숫자가 10개씩 담겨져 있는 Data Frame을 생성해보세요.

검색 힌트  : pandas Data Frame 생성, pandas data frame 만들기

_예시_  
![](./1-1answer.png)

In [37]:
import pandas as pd
import random as rd
value_0=[]
value_1=[]
value_2=[]
value_3=[]
value_4=[]
value_5=[]
value_6=[]
value_7=[]
value_8=[]
value_9=[]
for i in range(4):
    value_0.append(rd.random())
for i in range(4):
    value_1.append(rd.random())
for i in range(4):
    value_2.append(rd.random())
for i in range(4):
    value_3.append(rd.random())
for i in range(4):
    value_4.append(rd.random())
for i in range(4):
    value_5.append(rd.random())
for i in range(4):
    value_6.append(rd.random())
for i in range(4):
    value_7.append(rd.random())
for i in range(4):
    value_8.append(rd.random())
for i in range(4):
    value_9.append(rd.random())
Chart=pd.DataFrame([value_0,value_1,value_2,value_3,value_4,value_5,value_6,value_7,value_8,value_9],
                   index=["0","1","2","3","4","5","6","7","8","9"],
                   columns=["A","B","C","D"]
            )
print(Chart)

          A         B         C         D
0  0.454896  0.755560  0.763712  0.798280
1  0.018415  0.753371  0.828877  0.908474
2  0.528503  0.505453  0.164127  0.812591
3  0.552339  0.319298  0.729523  0.516481
4  0.682244  0.995266  0.413837  0.305777
5  0.642194  0.105346  0.441224  0.945397
6  0.139820  0.787263  0.168431  0.991447
7  0.281577  0.148481  0.410010  0.831068
8  0.496159  0.563007  0.338439  0.897169
9  0.287545  0.403909  0.243647  0.249189

### 1-2 Data Frame Indexing 1

**문제**  
1-1에서 생성한 DataFrame에서 위에서부터 5개의 행을 출력하는 코드를 작성해보세요  
  
검색 힌트 : pandas indexing, pandas print top5 rows  
  
_예시_  
![](./1-2answer.png)

In [36]:
print(Chart.head(5))

          A         B         C         D
0  0.087950  0.445579  0.810827  0.178496
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
3  0.564045  0.879133  0.164892  0.025774
4  0.987930  0.665488  0.939873  0.783964

### 1-3 Data Frame Indexing 2

**문제**  
1-1에서 생성한 DataFrame에서 1번째, 2번째 열만 추출하는 코드를 작성해보세요  
  
검색 힌트 : pandas indexing, pandas iloc, pandas loc  
  
_예시_  
![](./1-3answer.png)

In [39]:
print(Chart.loc[:,["A","B"]])

          A         B         C         D
0  0.454896  0.755560  0.763712  0.798280
1  0.018415  0.753371  0.828877  0.908474
2  0.528503  0.505453  0.164127  0.812591
3  0.552339  0.319298  0.729523  0.516481
4  0.682244  0.995266  0.413837  0.305777
5  0.642194  0.105346  0.441224  0.945397
6  0.139820  0.787263  0.168431  0.991447
7  0.281577  0.148481  0.410010  0.831068
8  0.496159  0.563007  0.338439  0.897169
9  0.287545  0.403909  0.243647  0.249189
A    0.454896
B    0.755560
C    0.763712
D    0.798280
Name: 0, dtype: float64
          A         B
0  0.454896  0.755560
1  0.018415  0.753371
2  0.528503  0.505453
3  0.552339  0.319298
4  0.682244  0.995266
5  0.642194  0.105346
6  0.139820  0.787263
7  0.281577  0.148481
8  0.496159  0.563007
9  0.287545  0.403909

### 1-4 Data Frame Indexing 3

**문제**  
1-1에서 생성한 DataFrame에서 "A"열과 "D"열만 추출하는 코드를 작성해보세요  
  
검색 힌트 : pandas indexing, pandas iloc, pandas loc  
  
_예시_  
![](./1-4answer.png)

In [29]:
print(Chart.loc[:,["A","D"]])

          A         D
0  0.403652  0.645557
1  0.749292  0.027546
2  0.915140  0.961686
3  0.815524  0.970404
4  0.251758  0.100414
5  0.596489  0.542116
6  0.913981  0.780472
7  0.236102  0.493572
8  0.908260  0.204762
9  0.964887  0.464678

### 1-5 Data Frame columns, values, index

**문제**  
1-1에서 생성한 DataFrame의 Column들과 값들, index, shape을 출력하는 코드를 작성하세요 
  
검색 힌트 : pandas columns, pandas values, pandas index
  
_예시_  
![](./1-5answer.png)

In [38]:
print(Chart.columns)
print(Chart.values)
print(Chart.shape)

Index(['A', 'B', 'C', 'D'], dtype='object')
[[0.08795032 0.44557859 0.81082734 0.1784963 ]
 [0.5465004  0.85715758 0.9386564  0.89741397]
 [0.42284794 0.50491458 0.4390097  0.21689413]
 [0.56404495 0.87913303 0.16489238 0.02577358]
 [0.98793044 0.66548847 0.93987275 0.78396433]
 [0.60426559 0.86917734 0.35805278 0.60822641]
 [0.91819109 0.46881842 0.96938743 0.17408161]
 [0.22305211 0.75148959 0.10770441 0.83405778]
 [0.08589097 0.90815039 0.50316651 0.06643912]
 [0.92721261 0.29141488 0.36815116 0.26193748]]
(10, 4)

### 1-6 Data Frame Informations

**문제**  
1-1에서 생성한 DataFrame의 column별 정보와 통계적 정보를 출력하는 코드를 작성하세요 
  
검색 힌트 : pandas get data frame information, pandas get statistic information
  
_예시_  
![](./1-6answer.png)

In [40]:
print(Chart.info())
print(Chart.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
dtypes: float64(4)
memory usage: 700.0+ bytes
None
               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.408369   0.533695   0.450183   0.725587
std     0.218472   0.292720   0.244747   0.269317
min     0.018415   0.105346   0.164127   0.249189
25%     0.283069   0.340451   0.267345   0.586930
50%     0.475527   0.534230   0.411923   0.821829
75%     0.546380   0.755013   0.657448   0.905648
max     0.682244   0.995266   0.828877   0.991447

### 1-7 Data Frame Sorting

**문제**  
1-1에서 생성한 DataFrame을 "A" Column을 기준으로 내림차순으로 정렬한 뒤, Index를 재정렬하는 코드를 작성하세요.  
(단, Index 재정렬 후 , 원래의 index는 삭제해주세요.)
  
검색 힌트 : pandas sort values, pandas sort values descending, pandas reset index
  
_예시_  
![](./1-7answer.png)

In [41]:
print(Chart.sort_values(by='A',ascending=False))
print(Chart.sort_index())

          A         B         C         D
4  0.987930  0.665488  0.939873  0.783964
9  0.927213  0.291415  0.368151  0.261937
6  0.918191  0.468818  0.969387  0.174082
5  0.604266  0.869177  0.358053  0.608226
3  0.564045  0.879133  0.164892  0.025774
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
7  0.223052  0.751490  0.107704  0.834058
0  0.087950  0.445579  0.810827  0.178496
8  0.085891  0.908150  0.503167  0.066439
          A         B         C         D
0  0.087950  0.445579  0.810827  0.178496
1  0.546500  0.857158  0.938656  0.897414
2  0.422848  0.504915  0.439010  0.216894
3  0.564045  0.879133  0.164892  0.025774
4  0.987930  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052  0.751490  0.107704  0.834058
8  0.085891  0.908150  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937

### 1-8 Data Frame Advanced Indexing 1

**문제**  
아래와 같은 Data Frame을 만들고, 주 언어가 파이썬인 사람들만 조회하는 코드를 작성해보세요.
  
검색 힌트 : pandas indexing, pandas query, pandas get specific values
  
<br>

Data Frame 예시  
![](./1-8df.png)

_예시_  
![](./1-8answer.png)

In [63]:

index_0=["피카츄","경제","파이썬","AI엔지니어"]
index_1=["라이츄","경영","C","프론트"]
index_2=["파이리","컴공","C+","백엔드"]
index_3=["꼬부기","컴공","파이썬","AI엔지니어"]
index_4=["버터풀","경제","자바","백엔드"]
index_5=["야도란","전전","엄","프론트"]
index_6=["피죤투","컴공","파이썬","AI엔지니어"]
index_7=["또가스","기계","자바","PM"]
Chart2=pd.DataFrame( [index_0,index_1,index_2,index_3,index_4,index_5,index_6,index_7],
                     index=["0","1","2","3","4","5","6","7"],
                     columns=["이름","학과","언어","직무"]   
                        )

print(Chart2.query("언어 in '파이썬'"))

    이름  학과   언어      직무
0  피카츄  경제  파이썬  AI엔지니어
3  꼬부기  컴공  파이썬  AI엔지니어
6  피죤투  컴공  파이썬  AI엔지니어

### 1-9 Data Frame Advanced Indexing 2

**문제**  
1-8에서 만든 Data Frame에서 학과가 컴공이고, 주 언어가 파이썬, 직무는 AI 엔지니어인 사람들만 조회하는 코드를 작성해보세요.
  
검색 힌트 : pandas indexing, pandas query, pandas get specific values

_예시_  
![](./1-9answer.png)

In [62]:
result=Chart2.query("학과 in '컴공' and 언어 in '파이썬' and 직무 in 'AI엔지니어'")
print(result)

    이름  학과   언어      직무
3  꼬부기  컴공  파이썬  AI엔지니어
6  피죤투  컴공  파이썬  AI엔지니어

### 1-10 Data Frame Concat

**문제**  
1-1에서 만든 Data Frame과 1-8에서 만든 Data Frame을 위아래로 합치는 코드와, 좌우로 합치는 코드를 작성해주세요. 각 작업을 수행한 후엔 Index를 다시 세팅해주세요!
  
검색 힌트 : pandas concat Data Frame

_예시_  
위아래로 합치는 경우  
![](./1-10answer1.png)  
좌우로 합치는 경우  
![](./1-10answer2.png)

In [69]:
Chart_merged1=pd.concat([Chart,Chart2],axis=0)
print(Chart_merged1)
Chart_merged2=pd.concat([Chart,Chart2],axis=1)
print(Chart_merged2)

          A         B         C         D
0   0.08795  0.445579  0.810827  0.178496
1    0.5465  0.857158  0.938656  0.897414
2  0.422848  0.504915   0.43901  0.216894
3  0.564045  0.879133  0.164892  0.025774
4   0.98793  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052   0.75149  0.107704  0.834058
8  0.085891   0.90815  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937
0       피카츄        경제       파이썬    AI엔지니어
1       라이츄        경영         C       프론트
2       파이리        컴공        C+       백엔드
3       꼬부기        컴공       파이썬    AI엔지니어
4       버터풀        경제        자바       백엔드
5       야도란        전전         엄       프론트
6       피죤투        컴공       파이썬    AI엔지니어
7       또가스        기계        자바        PM
          A         B         C         D    A    B    C       D
0  0.087950  0.445579  0.810827  0.178496  피카츄   경제  파이썬  AI엔지니어
1  0.546500  0.857158  0.938656  0.897414  라이츄   경영    C     프론트
2  0.422848  0.504915  0.439010  0.216894  파이리   컴공   C+     백엔드
3  0.564045  0.879133  0.164892  0.025774  꼬부기   컴공  파이썬  AI엔지니어
4  0.987930  0.665488  0.939873  0.783964  버터풀   경제   자바     백엔드
5  0.604266  0.869177  0.358053  0.608226  야도란   전전    엄     프론트
6  0.918191  0.468818  0.969387  0.174082  피죤투   컴공  파이썬  AI엔지니어
7  0.223052  0.751490  0.107704  0.834058  또가스   기계   자바      PM
8  0.085891  0.908150  0.503167  0.066439  NaN  NaN  NaN     NaN
9  0.927213  0.291415  0.368151  0.261937  NaN  NaN  NaN     NaN

### 1-11 Data Frame Concat 2

**문제**  
1-10에서 만든 Data Frame가 뭔가 이상합니다. NaN값들이 막 섞여있고 상당히 지저분합니다. 왜 이러는 걸까요? 이유를 한번 생각해서 적어보세요!  
  
이유를 적어본 뒤에, 1-8에서 만든 Data Frame의 이름을 "A", "B", "C", "D"로 바꾼 다음 다시 시도해보세요.
  
검색 힌트 : pandas concat Data Frame, pandas column name change

In [65]:
# 1-1에서 만든 data frame에 이름,학과,언어,직무 정보가 없기 때문 아닐까요. 1-8에서도 마찬가지로요.

Chart2.columns=["A","B","C","D"]
Chart_merged3=pd.concat([Chart,Chart2],axis=0)
print(Chart_merged3)

          A         B         C         D
0   0.08795  0.445579  0.810827  0.178496
1    0.5465  0.857158  0.938656  0.897414
2  0.422848  0.504915   0.43901  0.216894
3  0.564045  0.879133  0.164892  0.025774
4   0.98793  0.665488  0.939873  0.783964
5  0.604266  0.869177  0.358053  0.608226
6  0.918191  0.468818  0.969387  0.174082
7  0.223052   0.75149  0.107704  0.834058
8  0.085891   0.90815  0.503167  0.066439
9  0.927213  0.291415  0.368151  0.261937
0       피카츄        경제       파이썬    AI엔지니어
1       라이츄        경영         C       프론트
2       파이리        컴공        C+       백엔드
3       꼬부기        컴공       파이썬    AI엔지니어
4       버터풀        경제        자바       백엔드
5       야도란        전전         엄       프론트
6       피죤투        컴공       파이썬    AI엔지니어
7       또가스        기계        자바        PM

# 2. 데이터 불러오기
  
- 여기까지 해내신 분들! 아주 대단하십니다. 여기까지 푸신 것만 해도, 데이터를 다뤄볼 준비가 됐다고 할 수 있습니다 ㅎㅎ 뭐든 기본기가 지루하고 귀찮다고는 하지만 제일 중요하니까요..! 
- 이제는 튜토리얼 데이터를 불러와서, 통계량을 확인해보고, 우리들이 만든 함수도 적용해볼 겁니다. 어떻게 하는지 볼까요?

❗잠깐❗  
데이터를 다운 받아야겠죠? 
[이곳](https://www.kaggle.com/code/parulpandey/penguin-dataset-the-new-iris/data)에서 데이터를 다운 받은뒤, 압축을 해제하고, `penguins_size.csv`파일을 **코드 파일이 존재하는 폴더에 저장해주세요**

### 2-1 Read CSV

**문제**  
방금 다운받은 데이터를 Data Frame으로 읽는 코드를 작성해주세요.
  
검색 힌트 : pandas read data, pandas read csv file

_예시_  
![](./2-1answer.png)

In [14]:

penguins=pd.read_csv("penguins_size.csv")
print(penguins)

    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
339  Gentoo     Biscoe               NaN              NaN                NaN
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

### 2-2 Data Frame Indexing 복습!

**문제**  
읽어온 Data Frame에서, `species`가 `Gentoo`인 데이터만 조회하고, index를 새로 재배치 하는 코드를 작성해주세요. 
  
검색 힌트 : pandas indexing, pandas query

_예시_  
![](./2-2answer.png)

In [13]:
Gentoo=penguins.query("species in 'Gentoo'")
print(Gentoo.reset_index())

     index species  island  culmen_length_mm  culmen_depth_mm  \
0      220  Gentoo  Biscoe              46.1             13.2
1      221  Gentoo  Biscoe              50.0             16.3
2      222  Gentoo  Biscoe              48.7             14.1
3      223  Gentoo  Biscoe              50.0             15.2
4      224  Gentoo  Biscoe              47.6             14.5
..     ...     ...     ...               ...              ...
119    339  Gentoo  Biscoe               NaN              NaN
120    340  Gentoo  Biscoe              46.8             14.3
121    341  Gentoo  Biscoe              50.4             15.7
122    342  Gentoo  Biscoe              45.2             14.8
123    343  Gentoo  Biscoe              49.9             16.1

     flipper_length_mm  body_mass_g     sex
0                211.0       4500.0  FEMALE
1                230.0       5700.0    MALE
2                210.0       4450.0  FEMALE
3                218.0       5700.0    MALE
4                215.0       5400.0    MALE
..                 ...          ...     ...
119                NaN          NaN     NaN
120              215.0       4850.0  FEMALE
121              222.0       5750.0    MALE
122              212.0       5200.0  FEMALE
123              213.0       5400.0    MALE

[124 rows x 8 columns]

### 2-3 Groupby

**문제**  
2-1에서 읽어온 Data Frame에서, `species`별 평균값 데이터를 조회해보세요.  
`species`별 평균값의 조회가 끝났다면, `island`별 평균, 최대, 최소, 중앙값 데이터도 조회해보세요!  
  
검색 힌트 : pandas groupby, pandas aggregate function

_예시_  
![](./2-3answer.png)  
![](./2-3answer2.png)

In [22]:
group_species=penguins.groupby("species")
print(group_species.mean())

group_island=penguins.groupby("island")
print(group_island.mean())
print(group_island.max())
print(group_island.min())
print(group_island.median())

           culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
island
Biscoe            45.257485        15.874850         209.706587  4716.017964
Dream             44.167742        18.344355         193.072581  3712.903226
Torgersen         38.950980        18.429412         191.196078  3706.372549              species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
island
Biscoe        Gentoo              59.6             21.1              231.0
Dream      Chinstrap              58.0             21.2              212.0
Torgersen     Adelie              46.0             21.5              210.0

           body_mass_g
island
Biscoe          6300.0
Dream           4800.0
Torgersen       4700.0

C:\Users\송준우\AppData\Local\Temp\ipykernel_7324\537539802.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  print(group_island.mean(),group_island.max())

### 2-4 apply lambda

**문제**  
들어온 input에 대해서 제곱된 값을 return 해주는 함수를 작성하세요.  
그런 다음 2-1에서 읽어온 Data Frame에서, `body_mass_g` Column의 값을 제곱한 새로운 Column을 만들어보세요

검색 힌트 : pandas new column, pandas apply lambda

_예시_  
![](./2-4answer.png)

In [26]:
def mul_two(x):
    x=x*2
    return x

penguins["body_mass_g"].apply(mul_two)
print(penguins)
#print(penguins.loc[:,"body_mass_g"])

    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
3    Adelie  Torgersen               NaN              NaN                NaN
4    Adelie  Torgersen              36.7             19.3              193.0
..      ...        ...               ...              ...                ...
339  Gentoo     Biscoe               NaN              NaN                NaN
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

### 2-5 drop nan values

**문제**  
2-1에서 읽어온 Data Frame에서 칼럼 별로 값이 없는 데이터의 수를 구하는 코드를 작성해보세요.  
그리고 그런 공백값들을 제거한 Data Frame을 출력하는 코드를 작성해주세요.

검색 힌트 : pandas get number of nan, pandas remove null 

_예시_  
column별 공백값의 수  
![](./2-5answer1.png)   
제거 후 Data Frame  
![](./2-5answer2.png)

In [31]:
print(penguins.isnull().sum())
print(penguins.dropna())

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64
    species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen              39.1             18.7              181.0
1    Adelie  Torgersen              39.5             17.4              186.0
2    Adelie  Torgersen              40.3             18.0              195.0
4    Adelie  Torgersen              36.7             19.3              193.0
5    Adelie  Torgersen              39.3             20.6              190.0
..      ...        ...               ...              ...                ...
338  Gentoo     Biscoe              47.2             13.7              214.0
340  Gentoo     Biscoe              46.8             14.3              215.0
341  Gentoo     Biscoe              50.4             15.7              222.0
342  Gentoo     Biscoe              45.2             14.8              212.0
343  Gentoo     Biscoe              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
4         3450.0  FEMALE
5         3650.0    MALE
..           ...     ...
338       4925.0  FEMALE
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[334 rows x 7 columns]

### 2-6 remove column

**문제**  
2-1에서 읽어온 Data Frame에서 `island` Column을 제거하는 코드를 작성해주세요.  
  
검색 힌트: pandas remove columns

_예시_  
![](./2-6answer.png)

In [32]:
penguins.drop("island",axis=1,inplace=True)
print(penguins)

    species  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0    Adelie              39.1             18.7              181.0
1    Adelie              39.5             17.4              186.0
2    Adelie              40.3             18.0              195.0
3    Adelie               NaN              NaN                NaN
4    Adelie              36.7             19.3              193.0
..      ...               ...              ...                ...
339  Gentoo               NaN              NaN                NaN
340  Gentoo              46.8             14.3              215.0
341  Gentoo              50.4             15.7              222.0
342  Gentoo              45.2             14.8              212.0
343  Gentoo              49.9             16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 6 columns]

# 1주차 종료
- 여기까지 완료하신 분들 너무 고생많았습니다 ㅎㅎ 우리가 위의 문제들을 푸는 과정에서 배우고 익혔던 메서드들은 앞으로 Tabular Data를 다룰 때 거의 무조건적으로 사용될 녀석들로 꼭 반복학습 하셔서 익혀두시는 걸 추천드려요.
- 더 배우고 싶으신 분들은 아래의 문제도 한번 풀어보시는 걸 추천드려요 ㅎㅎ
- 다음엔 시각화에 대한 문제를 풀어볼 겁니다. 우리가 읽어온 데이터를 가공한 결과를 그래프로 잘 표현하는 것만으로도 유의미한 정보를 얻어낼 수 있습니다. 백문이 불허일견인 만큼, 주저리주저리 얘기하는 것보다는 잘 된 시각화 그림 하나 보여주는 게 더 효과가 좋을 때가 많습니다. 
- 그럼 다음 주차에 봐요!
  
<br>

👀**추가 문제**👀  
아래의 두 Data Frame을 가지고, 아래 결과와 같은 Data Frame으로 생성해보세요! 

<br>

**input**  
![](./add_input.png)  
  
**output**  
![](./add_output.png)

   a1  a2    a3    a4    a5
0  음식  과일    사과  None  None
1  음식  과일  파인애플  None  None
2  음식  한식    찌개  김치찌개  None
3  물건  탈것   자동차    의자  None
      이름  코드
0     음식   1
1     과일   2
2     사과   3
3   파인애플   4
4     한식   5
5     찌개   6
6   김치찌개   7
7     물건   8
8     탈것   9
9    자동차  10
10    의자  11